# Server
PORT=5000
NODE_ENV=production

# MongoDB - use your Atlas connection string
MONGO_URI=mongodb://stacknova123:stacknova123@ac-fxuyh1a-shard-00-00.vvomsdc.mongodb.net:27017,ac-fxuyh1a-shard-00-01.vvomsdc.mongodb.net:27017,ac-fxuyh1a-shard-00-02.vvomsdc.mongodb.net:27017/?ssl=true&replicaSet=atlas-p2tdkw-shard-0&authSource=admin&appName=Cluster0

# JWT
JWT_SECRET=d3b8e6d4-5e5d-4d71-a0d5-9c8f8c8d4b22a7f4c5c9-1e2b-4d8e-91b6-2a6f4d8c9e10
JWT_EXPIRES_IN=7d

# CORS - comma-separated list of allowed origins
CLIENT_URL=https://stack-nova-frontend-app-git-main-devnest414.vercel.app
